.idee.md
bin
.venv
.buildozer
.idea
.env*
config.json
idee.md

# Python
__pycache__/
*.py[cod]
*$py.class

# MkDocs / documentation output
site/
docs/site/
.tmp_pkg_download/
qrcodes/*
# Logs
*.log

# Editor temp files
*.swp
*.swo
.DS_Store
.vscode/
temp.py

# Package metadata
*.egg-info/
build/
dist/

# Pytest
.pytest_cache/
rap/